* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: Montserrat, sans-serif;
}
html {
  scroll-behavior: smooth;
}
header {
  position: sticky;
  top: 0px;
  z-index: 5;
}
.flex {
  display: flex;
  align-items: center;
}
.nav-list {
  list-style: none;
  padding: 5px;
}
.main-nav {
  align-items: center;
  padding-inline: 20px;
  max-width: 1180px;
  justify-content: space-between;
  margin-inline: auto;
}
.nav.flex ul {
  gap: 45px;
  padding-inline-start: 40px;
}
header a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  display: inline-block;
}
.sign-up {
  background-color: rgb(116, 116, 198);
  border-radius: 6px;
  padding: 8px 18px;
  color: white !important;
  transition: 0.5s all ease;
}
.sign-up:hover {
  background-color: rgb(55, 55, 102);
  cursor: pointer;
}
.log-in {
  background-color: white;
  border: 0.5 solid rgb(116, 116, 198);
  border-radius: 6px;
  padding: 8px 18px;
  cursor: pointer;
}
nav {
  background-color: rgba(221, 235, 247, 0.8);
  /* border-radius: 0px 0px 10px 10px; */
  width: 100vw;
  height: auto;
}
/* .logo a img{
    height: 50px;
    width: 80px;
    mix-blend-mode: darken;
    padding: 10px 0px;
} */
.logo a p {
  font-family: Paprika;
  font-size: 20px;
  color: black;
  font-weight: 800;
}
.logo {
  justify-content: start;
}
.hover-links {
  color: black;
  transition: 0.2s ease-out;
}
.hover-links:hover {
  color: rgb(43, 0, 117);
}
/* Code for banner section */
#banner {
  height: 80vh;
  width: 100vw;
  /* background-image: linear-gradient(rgba(0, 0, 0.8, 0), rgba(0, 0, 0.8, 1)), url(/SIH/img1.jpg); */
  background-position: center, center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.backVideo {
  margin-top: 5%;
  height: 80vh;
  width: 90vw;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}
#banner .playbackButton{
  font-size: 40px;
}
.playbackButton{
  position: absolute;
  z-index: 2;
  left: 50px;
  top: 530px;
  color: #fff;
  background-color: rgb(38, 101, 216);
  padding: 30px 40px;
}
#headline {
  font-family: Montserrat;
  /* background: url(/SIH/Flag_of_India.gif), no-repeat, center, center;
    background-size: cover; */
  font-size: 7rem;
  background: linear-gradient(45deg, rgb(255, 102, 0), white, rgb(3, 78, 3));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #5b728a54;
  font-weight: 800;
  /* animation: move 10s linear infinite; */
  letter-spacing: 0.65rem;
}
/* @keyframes move{
    from{background-position: 0% 100%}
    to{background-position: 100% 0%;}
} */
/* scroll down icon section */

#more-details{
  text-align: center;
  position: absolute;
  top: 500px;
}
#more-details a {
  text-decoration: none;
}
#more-details a span {
  cursor: pointer;
  font-size: 3rem;
  color: rgb(255, 255, 255);
}

/* scroll down icon section */

/* banner ends here */

.shadow{
  text-transform: uppercase;
  position: relative;
  font-size: 125px;
  font-weight: 900;
  font-family: Montserrat;
  color: rgb(137, 137, 240);
  opacity: 0;
  transform: translateX(-50%);
  transition: transform 1s ease;
}
.shadow.show{
  transform: translateX(0);
  opacity: 0.2;
}
.shadowUprText{
  margin-top: 3.5%; 
  font-family: Montserrat;
  font-size: 45px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  position: absolute;
  transform: translateX(50%);
  transition: transform 1s ease;
  opacity: 0;
}
.shadowUprText.show{
  transform: translateX(0);
  opacity: 1;
}
.textShadowBorder{
  border-bottom: 0.35vw rgb(6, 143, 255) solid;
  width: 7%;
  margin-top: 8%;
  position: absolute;
  transform: translateX(50%);
  transition: transform 1s ease;
  opacity: 0;
}
.textShadowBorder.scrollAnimation.show{
  transform: translateX(0);
  opacity: 0.65;
}
.shadow-text-div{
  display: flex;
  justify-content: center;
  padding: 5% 0%;
}
#list {
  padding: 50px 0px;
  justify-items: center;
}
.experience {
  justify-content: space-evenly;
  gap: 20px;
  flex-direction: column;
  min-width: 100vh;
}
.upper-text {
  flex-basis: 30%;
}
.heading {
  font-size: 2rem;
  text-align: center;
}
.sub-heading {
  margin: 10px;
  text-align: center;
  font-size: 1.2rem;
}
.gallary {
  display: grid;
  flex-basis: 50%;
  gap: 20px;
  grid-template-columns: repeat(5, 5fr);
  grid-auto-rows: 240px;
  width: 100%;
  padding-left: 40px;
}
.box {
  background-size: cover;
  justify-content: center;
  align-items: end;
  color: white;
  background-color: rgb(93, 85, 85);
  background-blend-mode: hard-light;
  cursor: pointer;
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  transition: all 1s ease-out;
  border-radius: 4px;
  padding-block-end: 5px;
}
.box:hover {
  background-color: #999;
  background-position: center;
  box-shadow: 0 0 4px #fff;
}

/* india-map */

.india-map {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.india-map-heading {
  font-size: 2.5rem;
  margin: 70px 0;
  font-weight: 700;
}

/* Destination section */

.wrapper {
  max-width: 1100px;
  width: 100vw;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 9.25%;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
  left: -22px;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8b53ff;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
}

/* Destination section ends here */

/* FAQ section starts from here */

#faq{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#faqContainer{
  width: 100vw;
  overflow-x: hidden;
}
#faqContainer ul{
  list-style-type: none;
}
#faqContainer ul li{
  margin: 15px 120px;
  padding: 15px 40px;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: transform 1s ease;
}
#faqContainer ul li summary{
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  color: rgb(0, 0, 0);
  transition: all ease 1s;
}
#faqContainer ul li p{
  font-size: 1.2rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  color: rgb(0, 0, 0);
}
.scrollAnimation.right{
  transform: translateX(25%);
  opacity: 0.1;
}
.scrollAnimation.show.right{
  transform: translateX(0);
  opacity: 1;
}

/* FAQ section ends here  */

/* Upload section starts from here */

.uploadContainer h2{
  text-align: center;
  margin-bottom: 15px;

}
.uploadContainer form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
}

.uploadContainer label {
  display: block;
  margin-bottom: 8px;
}

.uploadContainer input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.uploadContainer #drop-area {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 55px;
  text-align: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.uploadContainer button {
  float: right;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.uploadContainer button:hover {
  background-color: #45a049;
}

/* Upload section ends here */

/* Footer section starts from here */

#centerFooter {
  --tw-bg-opacity: 1;
  background-color: rgb(18 18 18 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
  font-family: Montserrat, sans-serif;
  padding-bottom: 17%;
}
#alignFooter {
  display: flex;
  justify-content: center;
}
/* Code for social media section */
#social {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding-left: 2.5%;
}
#social .footerMoto p {
  padding: 50px 55px;
  margin-right: 30px;
  width: 450px;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style-type: none;
}
#social .socialIcons ul {
  display: flex;
  margin-left: 35px;
}
#social .socialIcons ul li {
  padding: 10px 25px;
}
#social .socialIcons ul li i {
  font-size: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}
#social .socialIcons ul li i:hover {
  color: cornflowerblue;
}
/* Code for social media section */
.quickLinksP {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 600;
  padding-top: 50px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.linksFooter ul li a {
  font-size: 18px;
  font-weight: 300;
}
.linksFooter ul li a:hover {
  color: cornflowerblue;
  transition: all 0.5s ease;
}
.linksFooter {
  padding: 0px 40px;
}
.linksFooter ul li {
  display: block;
  padding: 10px 0px;
}
.linksFooter ul li a {
  cursor: pointer;
}

/* newsletter section */

.newsletter form {
  display: block;
}
#newsletterSection {
  display: block;
  justify-content: center;
  padding-left: 30px;
}
#newsletterSection input {
  margin: 10px 20px;
  padding: 10px 30px;
  background: transparent;
  font-size: 15px;
  border-radius: 5px;
  color: white;
  border: rgba(255, 255, 255, 0.3) 1px solid;
}
#newsletterSection button {
  margin: 0px 20px;
  padding: 10px 93px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  transition: 0.7s ease;
}
#newsletterSection button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* section to "connect with us" */

#connectDiv {
  display: flex;
  padding: 10px 0px;
  margin-left: 30px;
}
.connectLink {
  color: cornflowerblue;
  padding-left: 5px;
  font-weight: 400;
  transition: all 0.5s ease;
}
.connectLink:hover {
  text-decoration: underline;
}

/* section to "connect with us" */

/* newsletter section */

footer #branding pre {
  position: absolute;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  font-size: 13rem;
  letter-spacing: 0.55rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(252 252 252 / var(--tw-text-opacity));
  opacity: 0.16;
  padding-top: 1.5%;
}
footer #branding {
  display: flex;
  justify-content: center;
}

/* The section after footer */

#heart {
  position: relative;
  background-color: #252b33;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
  overflow-y: hidden;
}
#heart p {
  padding: 20px 0px;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
}
#heart i {
  padding: 0px 5px;
  font-family: 18px;
  color: red;
}